#locale-selector {
    position: absolute; 
    right: 30px;
    margin-top: 2px;
    left: auto;
}

#locale-selector > li {
    padding-right: 5px;
    cursor: pointer;
}

#locale-selector > li:hover {
    text-decoration: underline;

}

#locale-selector > li.selected {
    text-decoration: underline;
}

#localization-workflow .close {
    top: 8px;
}

#localization-results .missing {
    background-color: #F5C6CF;
}

#localization-results .untranslated {
    background-color: #F5DEC6;
}

#localization-results .unused {
    background-color: #F2F5C6;
}

.strings-panel {
    margin: 3px 3px 3px 3px;
    border: 1px solid;
    -webkit-border-radius: 3px;
}